<!-- templates/create_ticket.html -->
{% extends "base.html" %}

{% block title %}Create Ticket{% endblock %}

{% block content %}
<h2>Create Ticket</h2>
<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" required class="form-control" rows="8" style="resize: vertical; required"></textarea>
    </div>

    <div class="mb-3">
        <label for="priority" class="form-label">Priority</label>
        <select name="priority" id="priority" class="form-select">
            <option value="low">Low</option>
            <option value="medium" selected>Medium</option>
            <option value="high">High</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="queue_id" class="form-label">Queue</label>
        <select name="queue_id" id="queue_id" class="form-select">
            {% for queue in queues %}
            <option value="{{ queue['id'] }}">{{ queue['name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
        <select name="status" id="status" class="form-select">
            <option value="open" selected>Open</option>
            <option value="in progress">In Progress</option>
            <option value="closed">Closed</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="deadline" class="form-label">Deadline</label>
        <input type="datetime-local" name="deadline" id="deadline" class="form-control">
    </div>
    <div class="mb-3">
        <label for="notify_users" class="form-label">Notify Users</label>
        <select id="notify_users" name="notify_users" class="form-select" multiple>
          {% for user in users %}
            <option value="{{ user['id'] }}">{{ user['username'] }}</option>
          {% endfor %}
        </select>
        <small class="form-text text-muted">Hold Ctrl or Cmd to select multiple users</small>
      </div>
    <button type="submit" class="btn btn-primary">Create Ticket</button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}

